:root {
    --main-bg: #a9a9a9;
    --graphite-dark: #1a1a1a;
    --graphite: #292929;
    --graphite-lite: #cbccd0;
    --warm-yellow: #f8a30a;
    --calm-green: #a6d47f;
    --deep-blue: #004152;
    --magenta: #ff005a;
}

body {
    background: url(../images/background/hifi_01.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: var(--main-bg); */
    color: var(--graphite);
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 94%;
    max-width: 1100px;
}

#header {
    /* z-index: 2;
    position: fixed; */
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: var(--graphite);
    color: var(--main-bg);
    border-bottom: 1px solid var(--warm-yellow);
}

#header h1 {
    top: 0px;
    margin: 0px;
    /* text-transform: uppercase; */
    font-size: 3.5em;
}

#logo {
    position: absolute;
    left: 0;
    height: 60px;
    font-family: 'Syncopate', sans-serif;
    letter-spacing: 0.5em;
    text-shadow: -1px -1px 0 var(--graphite-dark), 1px -1px 0 var(--graphite-dark), -1px 1px 0 var(--graphite-dark), 1px 1px 0 var(--graphite-dark);
}

#logo a {
    text-decoration: none;
    color: #fff;
}

#j-color {
    color: var(--warm-yellow);
}

#nav {
    position: absolute;
    right: 0;
    top: -15px;
    height: 60px;
    font-family: 'M PLUS 1p', sans-serif;
}

#nav ul li {
    float: left;
    list-style: none;
}

#nav ul li a {
    display: block;
    color: var(--main-bg);
    text-decoration: none;
    margin: 0 10px;
    padding: 0 5px;
}

#nav ul li a:hover {
    color: #fff;
    transition: ease-in-out 0.3s;
}

.search-container {
    margin: 12px 0;
}

#search {
    padding-left: 3px;
}

#search:focus {
    outline: var(--graphite-lite) auto 1px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.right-container {
    margin: 0 16px;
}

.right-container h1 {
    text-align: center;
}

.right-container ul {
    list-style: none;
}

.right-container ul li {
    margin-bottom: 4px;
}

.right-container ul li a {
    text-decoration: none;
    color: var(--graphite);
}

.menu-item {
    background-color: var(--main-bg);
    border: 1px solid var(--graphite-lite);
    margin-bottom: 16px;
    padding-left: 12px;
    border-radius: 4px;
    
}

.menu-item:hover {
    background-color: var(--graphite-lite);
    transition: ease-in-out 0.3s;
}

.menu-item a {
    text-decoration: none;
    color: var(--graphite);
    
}

.menu-item a:hover {
    color: var(--graphite-dark);
}

.menu-item h3 {
    margin: 0;
    padding: 12px 0;
}

/* Media Queries */
@media (max-width: 599px) {
    #header .container {
        width: 100%;
    }
    
    #header h1 {
        padding-left: 3%;
    }

    #nav {
        width: 100%;
        top: 60px;
    }

    #nav:before {
        content: '\2630';
        display: block;
        position: absolute;
        right: 3%;
        top: -50px;
        line-height: 40px;
        font-size: 1.4em;
        cursor: pointer;
    }

    #nav ul {
        background-color: var(--graphite);
        width: 100%;
        margin: 0;
    }

    #nav ul li {
        float: none;
    }

    #nav ul li a {
        padding: 10px 3%;
        line-height: 20px;
        border-top: 1px solid var(--graphite-lite);
    }
}