:root {
    --main-bg: #a9a9a9;
    --graphite-dark: #1a1a1a;
    --graphite: #292929;
    --graphite-lite: #cbccd0;
    --warm-yellow: #f8a30a;
    --calm-green: #a6d47f;
    --deep-blue: #004152;
    --magenta: #ff005a;
}

html {
    box-sizing: border-box;
}

body {
    background-image: url('/static/images/background/vinyl_grooves_01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--graphite);
    font-family: 'M PLUS 1p', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 94%;
    max-width: 1100px;
}

ul {
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    color: var(--graphite-dark);
    font-weight: 500;
    transition: ease-in-out 0.2s;
}

/* Header */
#header {
    width: 100%;
    height: 80px;
    line-height: 60px;
    background-color: var(--graphite);
    color: var(--main-bg);
    border-bottom: 1px solid var(--warm-yellow);
    position: relative;
}

/* Search bar */
.search-container {
    position: absolute;
    right: 0;
}

#search {
    padding-left: 3px;
}

#search:focus {
    outline: var(--graphite-lite) auto 1px;
}

/* Main content */
.content-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin-top: 1.8em;
}

/* Left container */

.menu-item {
    background-color: var(--main-bg);
    border: 2px solid transparent;
    padding-left: 12px;
    /* border-radius: 4px; */
}

.menu-item:not(:last-child) {
    margin-bottom: 4px;
}

.menu-item:hover {
    background-color: var(--graphite-lite);
    transition: ease-in-out 0.2s;
    border: 2px solid var(--graphite-dark);
}

.menu-item a {
    text-decoration: none;
    color: var(--graphite);
    
}

.menu-item a:hover {
    color: var(--graphite-dark);
}

.menu-item h3 {
    margin: 0;
    padding: 4px 0;
}

/* Right Container */
.right-container {
    margin: 0 16px 0 32px;
    
}

/* .right-container h1 {
    text-align: center;
} */

.right-container h1 {
    text-align: left;
    margin-top: 0;
    font-size: 3em;
    font-weight: 400;
    line-height: 80%;
}

.right-container ul {
    color: var(--graphite);
    list-style: none;
    font-size: 1.2em;
    padding: 0;
    margin-left: 1.4em;
}

#index-roll {
    margin-bottom: 16px;
    text-align: center;
}

.index-letter {
    display: inline-block;
    font-size: 1.2em;
    transition: .2s ease-in-out;
}

.index-letter:hover {
    transform: scale(1.5);
}

.index-letter a {
    text-decoration: none;
    color: inherit;
}

.index-letter a:hover {
    color: var(--graphite-dark);
}

#artist-list {
    margin: 0;
}

/* Track table */
.artist-header {
    box-shadow: 0 8px 6px -6px var(--graphite);
    /* border: 1px solid var(--graphite-dark); */
    /* outline: 1px solid var(--graphite-dark); */
    overflow: hidden;
    background-color: var(--graphite);
    /* display: inline-block; */
}

.artist-header h1 {
    background-color: var(--graphite);
    color: var(--graphite-lite);
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding: 0.33em 0 0.33em 0.33em;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 80%;
    width: 100%;
}

#profile-image {
    display: block;
    width: 100%;
    height: 168px;
    object-fit: cover;
    /* padding-bottom: 0.33em; */
}

/* .artist-header img {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
} */

.track-table {
    
    margin-top: 1.3em;
    box-shadow: 0 8px 6px -6px var(--graphite);
}

.track-table table {
    width: 100%;
    border-collapse: collapse;
}

.track-table tr {
    background-color: #e4e4e4;
    padding: 4px 0;
}

.track-table tr:nth-child(odd) {
    background-color: var(--graphite-lite);
}

.track-table th {
    background-color: var(--graphite);
    color: var(--graphite-lite);
    text-align: left;
    font-weight: 400;
    padding-left: 0.67em;
}

.track-table td {
    padding-left: 0.67em;
}

.track-table a {
    text-decoration: none;
    color: var(--graphite);
}

.selection-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 10px;
}

.selection-box a {
    text-decoration: none;
    background-color: rgba(41, 41, 41, 0.9);
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
}

.selection-box a:hover {
    background-color: rgba(41, 41, 41, 1);
    border: 1px solid var(--warm-yellow);
}

.selection-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graphite-lite);
    width: auto;
    height: 120px;
    text-align: center;
    text-decoration: none;
}


/* Media Queries */
@media (max-width: 768px) {
    .content-container {
        grid-template-columns: 1fr;
    }

    .menu-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px;
        margin: 20px 0;
    }

    .menu-item {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-item:not(:last-child) {
        margin: 0;
    }

    .right-container {
        margin: 0;
    }
}


@media (max-width: 599px) {
    #header .container {
        width: 100%;
    }
    
    #header h1 {
        padding-left: 3%;
    }

}