:root {
    --main-bg: #a9a9a9;
    --graphite-dark: #1a1a1a;
    --graphite: #292929;
    --graphite-lite: #cbccd0;
    --glow-lite: #d9cdba;
    --warm-yellow: #f8a30a;
    --deep-blue: #004152;
    --magenta: #ff005a;
    --logo-yellow: #ffc763;
    --logo-green: #a6d47f;
    --logo-blue: #639bff;
    --logo-pink: #d47fa6;
    --logo-aqua: #7fd4ad;
    --logo-purple: #ad7fd4;
    --logo-sand: #d4ad7f;
    --warning: #ff6e6e;
    --warning-highlight: #ff1a1a;
}

html {
    box-sizing: border-box;
}

body {
    background-image: url('/static/images/background/vinyl_grooves_01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--graphite);
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 94%;
    max-width: 1100px;
}

ul {
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    color: var(--graphite-dark);
    font-weight: 500;
    transition: ease-in-out 0.2s;
}

/* Header */
#header {
    width: 100%;
    height: 80px;
    line-height: 60px;
    background-color: var(--graphite);
    color: var(--main-bg);
    /* border-bottom: 1px solid var(--warm-yellow); */
    position: relative;
}

#logo {
    display: inline-block;
}

#logo a {
    text-decoration: none;
    color: var(--graphite-lite);
}

#logo a h1 span {
    transition: 0.5s;
}

#logo a:hover #logo-c {
    color: var(--logo-yellow);
    transition-delay: 0.4s;
}

#logo a:hover #logo-o {
    color: var(--logo-green);
    transition-delay: 0.8s;
}

#logo a:hover #logo-n {
    color: var(--logo-pink);
    transition-delay: 1.2s;
}

#logo a:hover #logo-j {
    color: var(--logo-blue);
    transition-delay: 1.6s;
}

#logo a:hover #logo-u {
    color: var(--logo-aqua);
    transition-delay: 2s;
}

#logo a:hover #logo-r {
    color: var(--logo-sand);
    transition-delay: 2.4s;
}

#logo a:hover #logo-e {
    color: var(--logo-purple);
    transition-delay: 2.8s;
}

#logo a h1 {
    margin-top: 8px;
    font-weight: 300;
    letter-spacing: 10px;
}

/* Footer */
/* #footer {
    width: 100%;
    height: 80px;
    line-height: 60px;
    background-color: var(--graphite);
    color: var(--main-bg);
    position: fixed;
    left: 0;
    bottom: 0;
} */

/* Main content */
.content-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    margin-top: 1.8em;
}

/* Left container */
.menu-container a {
    display: block;
    text-decoration: none;
    color: var(--graphite);
}

.menu-container a:not(:last-child) {
    margin-bottom: 4px;
}

.menu-item {
    background-color: var(--main-bg);
    border: 1px solid transparent;
    padding-left: 12px;
}

.menu-item:hover {
    background-color: var(--glow-lite);
    color: var(--graphite-dark);
    transition: ease-in-out 0.2s;
    border: 1px solid var(--graphite);
}

.menu-item a {
    
}

.menu-item a:hover {
    
}

.menu-item h3 {
    margin: 0;
    padding: 4px 0;
    font-weight: 500;
}

/* Right Container */
.right-container {
    /* margin: 0 16px 0 0; */
    position: relative;
    width: 100%;
    text-align: center;
}

/* .right-container h1 {
    text-align: center;
} */

.right-container h1 {
    text-align: left;
    margin-top: 0;
    font-size: 3em;
    font-weight: 400;
    line-height: 80%;
}

/* .right-container ul {
    color: var(--graphite);
    list-style: none;
    font-size: 1.2em;
    padding: 0;
    margin-left: 1.4em;
} */

#index-roll {
    margin-bottom: 16px;
    text-align: center;
}

.index-letter {
    display: inline-block;
    font-size: 1.3em;
    transition: .2s ease-in-out;
}

.index-letter:hover {
    transform: scale(1.5);
}

.index-letter a {
    text-decoration: none;
    color: inherit;
}

.index-letter a:hover {
    color: var(--graphite-dark);
}

#artist-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 10px;
}

#artist-box a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--graphite);
    color: var(--graphite-lite);
    width: auto;
    height: 60px;
    padding: 3px 0;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    transition: 0.2s ease-in-out;
}

#artist-box a:hover {
    background-color: var(--glow-lite);
    color: var(--graphite);
    font-weight: 400;
}

/* .artist-box-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--graphite);
    color: var(--graphite-lite);
    width: auto;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
} */

/* Track table */
.right-wide {
    margin-left: 20px;
}

.artist-header {
    box-shadow: 0 8px 6px -6px var(--graphite);
    /* border: 1px solid var(--graphite-dark); */
    /* outline: 1px solid var(--graphite-dark); */
    overflow: hidden;
    background-color: var(--graphite);
    /* display: inline-block; */
}

.artist-header h1 {
    background-color: var(--graphite);
    color: var(--graphite-lite);
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding: 0.33em 0 0.33em 0.33em;
    font-size: 2em;
    font-weight: 300;
    line-height: 80%;
    width: 100%;
}

#profile-image {
    display: block;
    width: 100%;
    height: 168px;
    object-fit: cover;
    /* padding-bottom: 0.33em; */
}

/* .artist-header img {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
} */

.track-table {
    margin-top: 1.3em;
    box-shadow: 0 8px 6px -6px var(--graphite);
    text-align: left;
}

.track-table table {
    width: 100%;
    border-collapse: collapse;
}

.track-table tr {
    background-color: #e4e4e4;
    padding: 4px 0;
    line-height: 32px;
    border-bottom: 1px solid var(--main-bg);
}

/* .track-table tr:nth-child(odd) {
    background-color: var(--graphite-lite);
} */

.track-table th {
    background-color: var(--graphite);
    color: var(--graphite-lite);
    text-align: left;
    font-weight: 400;
    padding-left: 0.67em;
}

.track-table th:last-child {
    text-align: center;
    padding-left: 0;
}

.track-table td {
    padding-left: 0.67em;
}

.track-table td:last-child {
    text-align: center;
    padding-left: 0;
}

.track-table a {
    text-decoration: none;
    color: var(--graphite);
}

.selection-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 10px;
}

.selection-box a {
    text-decoration: none;
    background-color: var(--graphite);
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
}

.selection-box a:hover {
    background-color: var(--glow-lite);
}

.selection-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graphite-lite);
    width: auto;
    height: 60px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    padding: 3px 0;
}

.selection-item-content:hover {
    color: var(--graphite);
    font-weight: 400;
}

.search-container {
    display: inline-block;
    margin: 0 auto;
}

.search-container a {
    text-decoration: none;
}

.form-container {
    text-align: center;
}

form {
    display: inline-block;
    width: 380px;
    /* background-color: var(--main-bg); */
}

form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    background-color: var(--graphite);
    color: var(--main-bg);
    width: auto;
    padding: 2px;
}

form input {
    display: block;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    color: var(--graphite);
    padding: 4px;
    border: none;
}

form select {
    display: block;
    height: auto;
    width: 100%;
    font-size: 1.1em;
    padding: 4px;
    border: none;
}

button {
    background-color: var(--graphite);
    color: var(--graphite-lite);
    display: block;
    height: 76px;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--glow-lite);
    color: var(--graphite);
}

.range-header {
    width: auto;
}

.range-header h1 {
    text-align: center;
    padding-left: 0;
}

.range-select {
    margin-top: 10px;
}

.search-button {
    width: 380px;
    /* margin-top: 50px; */
    position: absolute;
    bottom: 0;
}

.search-button h1,
.add-track-button h1,
.gen-playlist-button h1,
.update-track-button h1,
.delete-track-button h1 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}

.add-track-button,
.gen-playlist-button,
.update-track-button,
.delete-track-button {
    width: 380px;
}

.update-track-button {
    width: 100%;
}

.delete-track-button {
    width: 100%;
    /* display: inline-block; */
    background-color: var(--warning);
    float: right;
    margin: 50px 0 10px 0;
    height: 38px;
}

.delete-track-button:hover {
    background-color: var(--warning-highlight);
    color: var(--graphite-lite);
}

#delete-button {
}

.range-box {
    width: 150px;
    float: left;
}

.range-box label {
    text-align: center;
}

.range-box-right {
    float: right;
}


/* Media Queries */
@media (max-width: 850px) {
    .content-container {
        grid-template-columns: 1fr;
        margin-top: 1.5em;
    }

    .menu-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin: 0;
    }

    .menu-item {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--graphite);
        font-size: 0.83em;
        text-align: center;
        height: 48px;
    }

    .menu-item:hover {
        border: 1px solid var(--graphite-dark);
    }

    .menu-item:not(:last-child) {
        margin: 0;
    }

    .menu-item h3 {
        font-weight: 700;
    }

    .right-container {
        margin: 1em 0 0 0;
    }

    #index-roll {
        margin: 0 2.8em 1.2em 2.8em;
    }

    .index-letter {
        font-size: 1.8em;
        margin: 8px 12px;
    }

    #artist-box a {
        height: 40px;
    }

    .right-wide {
    margin-left: 0;
    }

    .artist-header {
        box-shadow: none;
    }

    .artist-header h1 {
        text-align: center;
        padding: .5em 0;
    }

    #profile-image {
        height: 132px;
    }

    .track-table {
        box-shadow: none;
    }

    .track-table tr {
        line-height: 42px;
    }

    .form-container {
        text-align: center;
    }

    form {
        display: inline-block;
    }

    form label {
        padding-left: 0;
    }

    form input {
        padding-left: 0;
        border: none;
    }

    form select {
        width: 100%;
    }

    .search-button {
        position: relative;
        margin-top: 60px;
    }
}


@media (max-width: 510px) {
    .container {
        width: 100%;
    }

    #header {
        text-align: center;
    }

    #logo a h1 {
        letter-spacing: 5px;
    }

    .content-container {
        margin-top: 10px;
    }

    .right-container {
        margin-top: 0;
    }

    .menu-container {
        margin: 0 10px;
    }

    .menu-item {
        font-size: 0.67em;
    }

    #index-roll {
        margin: 0.3em 0 1.5em 0;
    }

    .index-letter {
        font-size: 1.6em;
        margin: 3px 7px;
    }

    .artist-header h1 {
        font-size: 1.5em;
    }

    .track-table {
        margin-top: 1em;
        font-size: 1em;
    }

    /* .track-table tr th:last-child,
    .track-table tr td:last-child {
        display: none;
    } */

    .selection-item-content {
        height: 60px;
        font-size: 0.83em;
    }

    form {
        width: 94%;
    }

    form select {
        width: 100%;
    }

    .range-box {
        width: 128px;
    }

    .search-container {
        width: 100%;
    }

    .search-button {
        width: 100%;
    }

    .add-track-button {
        width: 100%;
    }
}