{% extends 'base.html' %} {% block content %}
    <div id="index-roll">
        {% for letter in letters %}
            <div class="index-letter">
                <a href="{{url_for('filter_artist', letter=letter)}}">{{letter}}</a>
            </div>
        {% endfor %}
    </div>

<ul id="artist-list">
	{% for artist in artists %}
        <li>
            <a href="{{ url_for('artist_page', artist_id=artist._id, artist_name=artist.artist_name) }}">
                {{ artist.artist_name.title() }}
            </a>
        </li>
	{% endfor %}
</ul>

{% endblock %}