{% extends 'base.html' %} {% block content %}
    <form action="{{ url_for('search_bpm') }}" method="POST">
        <div>
            <select id="lower_limit" name="lower_limit" required>
                <option value="0">None</option>
                {% for b in range(50, 201, 5) %}
                    <option value="{{b}}">{{b}}</option>
                {% endfor %}
            </select>
			<label for="lower_limit">Lower Limit (nearest value)</label>
        </div>
        <div>
            <select id="upper_limit" name="upper_limit" required>
                <option value="0">None</option>
                {% for b in range(50, 201, 5) %}
                    <option value="{{b}}">{{b}}</option>
                {% endfor %}
            </select>
			<label for="upper_limit">Upper Limit (nearest value, must be higher than above value)</label>
        </div>
        <button type="submit" name="action">Search</button>
    </form>
{% endblock %}