{% extends 'base.html' %} {% block content %}

    <form action="{{ url_for('update_track', track_id=track._id, artist_name=track.artist_name) }}" method="POST">
        <div>
            <input id="artist_name" name="artist_name" type="text" value="{{ track.artist_name.title() }}">
			<label for="artist_name">Artist</label>
        </div>
        <div>
            <input id="track_name" name="track_name" type="text" value="{{ track.track_name.title() }}">
			<label for="track_name">Track</label>
        </div>
        <div>
            <input id="album_ep_name" name="album_ep_name" type="text" value="{{ track.album_ep_name.title() }}">
			<label for="album_ep_name">Album/EP</label>
        </div>
        <div>
            <select id="edit_genre_name" name="genre_name">
                {% for genre in genres %}
                    {% if genre.genre_name == track.genre_name %}
                        <option value="{{track.genre_name}}" selected>{{track.genre_name}}</option>
                    {% else %}
                        <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
			<label for="edit_genre_name">Genre</label>
        </div>
        <div>
            <select id="edit_genre_style" name="genre_style" value="{{ track.genre_style }}">
                <option value="">-- select above first --</option>
            </select>
			<label for="edit_genre_style">Style</label>
        </div>
        <div>
             <select id="mood" name="mood" value="{ track.mood }">
                <option value="">-- select one --</option>
                <option value="happy">Happy</option>
                <option value="exuberant">Exuberant</option>
                <option value="energetic">Energetic</option>
                <option value="frantic">Frantic</option>
                <option value="anxious_sad">Anxious/Sad</option>
                <option value="depression">Depression</option>
                <option value="calm">Calm</option>
                <option value="contentment">Contentment</option>
            </select>
			<label for="mood">Mood</label>
        </div>
        <div>
            <input id="year" name="year" type="text" value="{{ track.year }}">
			<label for="year">Year</label>
        </div>
        <div>
            <input id="country" name="country" type="text" value="{{ track.country.title() }}">
			<label for="country">Country</label>
        </div>
        <div>
            <input id="bpm" name="bpm" type="text" value="{{ track.bpm }}">
			<label for="bpm">BPM</label>
        </div>
        <div>
            <input id="length" name="length" type="text" value="{{ track.length }}">
			<label for="length">Length</label>
        </div>
        <button type="submit" name="action">Update
        </button>

    </form>
{% endblock %}