{% extends 'base.html' %} {% block content %}

    <form action="{{ url_for('update_track', track_id=track._id, artist_name=track.artist_name) }}" method="POST">
        <div>
            <input id="artist_name" name="artist_name" type="text" value="{{ track.artist_name.title() }}">
			<label for="artist_name">Artist</label>
        </div>
        <div>
            <input id="track_name" name="track_name" type="text" value="{{ track.track_name.title() }}">
			<label for="track_name">Track</label>
        </div>
        <div>
            <input id="album_ep_name" name="album_ep_name" type="text" value="{{ track.album_ep_name.title() }}">
			<label for="album_ep_name">Album/EP</label>
        </div>
        <div>
            <select id="edit_genre_name" name="genre_name">
                {% for genre in genres %}
                    {% if genre.genre_name == track.genre_name %}
                        <option value="{{track.genre_name}}" selected>{{track.genre_name}}</option>
                    {% else %}
                        <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
			<label for="edit_genre_name">Genre</label>
        </div>
        <div>
            <select id="edit_genre_style" name="genre_style">
                <option value="">-- select above first --</option>
            </select>
			<label for="edit_genre_style">Style</label>
        </div>
        <div>
             <select id="edit_mood" name="mood" value="{ track.mood }">
                {% for mood in moods %}
                    {% if mood.mood == track.mood %}
                        <option value="{{track.mood}}" selected>{{track.mood}}</option>
                    {% else %}
                        <option value="{{mood.mood}}">{{mood.mood}}</option>
                    {% endif %}
                {% endfor %}
            </select>
			<label for="edit_mood">Mood</label>
        </div>
        <div>
            <select id="edit_year" name="year">
                {% for y in range(2020, 1899, -1) %}
                    {% if track.year == y %}
                        <option value="{{track.year}}" selected>{{track.year}}</option>
                    {% else %}
                        <option value="{{y}}">{{y}}</option>
                    {% endif %}
                {% endfor %}
            </select>
			<label for="edit_year">Year</label>
        </div>
        <div>
            <select id="edit_country" name="country">
                {% for country in countries %}
                    {% if track.country == country.country %}
                        <option value="{{track.country}}" selected>{{track.country.title()}}</option>
                    {% else %}
                        <option value="{{country.country}}">{{country.country.title()}}</option>
                    {% endif %}
                {% endfor %}
            </select>
			<label for="edit_country">Country</label>
        </div>
        <div>
            <input id="bpm" name="bpm" type="text" value="{{ track.bpm }}">
			<label for="bpm">BPM (nearest value)</label>
        </div>
        <div>
            <input id="length" name="length" type="text" value="{{ track.length }}">
			<label for="length">Length</label>
        </div>
        <button type="submit" name="action">Update
        </button>

    </form>
{% endblock %}