{% extends 'base.html' %} {% block content %}

    <div class="search-container">
        <form id="gen-playlist-form" action="{{url_for('gen_playlist')}}" method="POST">
            <div>
                <label for="set_genre_name">Genre</label>
                <select id="set_genre_name" name="genre" required>
                    <option value="">-- select one --</option>
                    {% for genre in genres %}
                        <option value="{{genre.genre_name}}">{{genre.genre_name.title()}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="set_genre_style">Style</label>
                <select id="set_genre_style" name="style" required>
                    <option value="">-- select above first --</option>
                </select>
            </div>
            <div>
                <label for="set_mood">Mood</label>
                <select id="set_mood" name="mood" required>
                    <option value="">-- select one --</option>
                    {% for mood in moods %}
                        <option value="{{mood.mood}}">{{mood.mood.title()}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <div>
                    <label for="set_lower_year">Year Range (low)</label>
                    <select id="set_lower_year" name="lower_year" required>
                        <option value="">-- select one --</option>
                        {% for y in range(2020, 1899, -1) %}
                            <option value="{{y}}">{{y}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="set_upper_year">Year Range (high)</label>
                    <select id="set_upper_year" name="upper_year" required>
                        <option value="">-- select one --</option>
                        {% for y in range(2020, 1899, -1) %}
                            <option value="{{y}}">{{y}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <label for="set_lower_limit">BPM Range (low)</label>
                <select id="set_lower_limit" name="bpm_lower_limit" required>
                    <option value="">-- select one --</option>
                    <option value="0">None</option>
                    {% for b in range(50, 201, 5) %}
                        <option value="{{b}}">{{b}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="set_upper_limit">BPM Range (high)</label>
                <select id="set_upper_limit" name="bpm_upper_limit" required>
                    <option value="">-- select one --</option>
                    <option value="0">None</option>
                    {% for b in range(50, 201, 5) %}
                        <option value="{{b}}">{{b}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="set_track_limit">Number of tracks</label>
                <select id="set_track_limit" name="track_limit">
                    {% for n in range(2, 51) %}
                        <option value="{{n}}">{{n}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <button class="gen-playlist-button" form="insert-track-form" type="submit" name="action"><h1><i class="fas fa-cogs"></i></h1></button>
    </div>

{% endblock %}